.header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}
